<h1>Your volunteers</h1>

<ul>
  <% @volunteers.each do |volunteer| %>
    <li><%= link_to volunteer.name, volunteer_path(volunteer) %></li>
  <% end %>
</ul>

<%= link_to "Add a new volunteer", new_volunteer_path, :class => "btn btn-success btn-lg" %>
