<h1><%= @volunteer.name %></h1>

<p><%= link_to "edit", edit_volunteer_path(@volunteer) %></p>
<p><%= link_to "delete", volunteer_path(@volunteer),
                         :data => {:confirm => "Are you sure you want to delete this volunteer?",
                                   :method => "delete"} %></p>


<p><%= link_to "home", volunteers_path %></p>
