<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Making Auctions Easier</h1>
      <div class="row center">
        <h5 class="header col s12 light">Auctionary helps you reach your fundraising goals by making it easier<br>
        to track and collect donations for your charity auction.</h5>
      </div>
      <div class="row center">
        <%if current_user%>
        <%= link_to "Sign In", new_user_session_path, :class => "btn-lg" %>
        <%else%>
        <%= link_to "Create A New Account", new_user_registration_path, :class => "btn-large waves-effect waves-light teal lighten-1", :id => "download-button" %>
        <%end%>
      </div>
      <br><br>
    </div>
  </div>
  <script script type="text/javascript">
    $('.parallax').parallax();
  </script>
  <div class="parallax"><img src="/images/auctionary-1.jpg" alt="landing page image 1"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-grey-text"><i class="material-icons">trending_up</i></h2>
          <h5 class="center">Reach Your Goals</h5>
          <p class="light">Record when you reach out to donors so you stay organized and on track to reach your fundraising goals.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-grey-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Teamwork Wins</h5>
          <p class="light">Auctionary fosters collaboration between volunteers and nonprofit staff by making it easier to see your team's progress.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-grey-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to Use</h5>
          <p class="light">Designed with user experience in mind, Auctionary is simple to use for all computer skill levels.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="/images/auctionary-2.jpg" alt="landing page image 2"></div>
</div>

<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Auctionary</h5>
        <p class="grey-text text-lighten-4">Auctionary was developed by a former fundraising coordinator who wanted to make it easier for volunteers to collect donations for charity auctions and build lasting relationships with donors.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 <a class="grey-text text-lighten-3" href="http://www.oliviahinton.com">Olivia Hinton</a>
    </div>
  </div>
</footer>
