@import "materialize";
@import "parallax/materialize";
@import "parallax/materialize.min";
@import "parallax/style";


#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

.nav-avatar {
    margin-top: 5px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

#nav-header-text {
  font-family: 'Delius Swash Caps', cursive;
}
